<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

                                <!-- Properties -->
    <!-- Chassis -->
    <xacro:property name="chassis_length" value="0.4"/>
    <xacro:property name="chassis_width" value="0.3"/>
    <xacro:property name="chassis_height" value="0.11"/>
    <xacro:property name="chassis_mass" value="2.0"/>
    <!-- Wheels -->
    <xacro:property name="wheel_offset_x" value="0.1285"/>
    <xacro:property name="wheel_offset_y" value="0.112"/>
    <xacro:property name="wheel_offset_z" value="-0.025"/>
    <xacro:property name="wheel_thickness" value="0.027"/>
    <xacro:property name="wheel_radius" value="0.0325"/>
    <xacro:property name="wheel_mass" value="0.037"/>
    <!-- Caster Wheel -->
    <xacro:property name="caster_wheel_radius" value="0.01"/>
    <xacro:property name="caster_wheel_mass" value="0.01"/>
    <xacro:property name="caster_wheel_offset_x" value="0.370"/>
    <xacro:property name="caster_wheel_offset_z" value="-0.045"/>
    


                                <!-- Colors -->    
    <material name="white">
        <color rgba="1 1 1 1"/>
    </material>

    <material name="red">
        <color rgba="1 0 0 1"/>
    </material>

    <material name="green">
        <color rgba="0 1 0 1"/>
    </material>

    <material name="blue">
        <color rgba="0 0 1 1"/>
    </material>

    <material name="black">
        <color rgba="0 0 0 1"/>
    </material>
</robot>