<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="diff_bot">

    <xacro:include filename="properties.xacro"/>
    <xacro:include filename="inertial_macros.xacro"/>
    <xacro:include filename="chassis.xacro"/>
    <xacro:include filename="wheels.xacro"/>
    <xacro:include filename="caster_wheel.xacro"/>
    <xacro:include filename="gazebo_control.xacro"/>
    <xacro:include filename="control.xacro"/>
    <xacro:include filename="lidar.xacro"/>

    <!-- Base Link -->
    <link name="base_link"/>

    <!-- Base Footprint Link -->
    <link name="base_footprint"/>
    <joint name="base_footprint_joint" type="fixed">
        <parent link="base_link"/>
        <child link="base_footprint"/>
    </joint>
    
    
</robot>